@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fonts */
  --font-sans: var(--font-geist-sans); 
  --font-mono: var(--font-geist-mono); 
  --font-open: var(--font-open-sans); 
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);

  /* Breakpoints */
  --breakpoint-md: 1280px;
  --breakpoint-lg: 1366px;
  --breakpoint-xl: 1920px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Default to Inter or your preferred sans */
  font-family: var(--font-inter), ui-sans-serif, system-ui;
}
